body{
    background-color: darkslategray;
    align-content: center;
    background: linear-gradient(to right bottom,rgba(5, 5, 81, 0.2),#472902,#014818);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
button{
    padding: 10px 70px 10px 70px;
    background: linear-gradient(to right bottom,#0c00f9,#01d508,#ff00a6);
}