body{
    border : 1px;
    background: linear-gradient(
        to right,
        rgb(25, 41, 66),
        rgb(52, 53, 110),
        rgb(95, 80, 39),
        to bottom,
        rgb(28, 57, 67),
        rgb(57, 84, 110),
        rgb(33, 63, 82),
        rgb(95, 80, 37),
        rgb(38, 25, 64),
        rgb(32, 45, 91)
    );
    background-image: url("bg2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid rgba(249, 246, 246, 0.435);
}
div{
    padding-top: 150px;
    text-align: center;
}
input,button{
    border: 3px solid;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-style: initial;
    color: rgb(15, 15, 15);
}